

body{
background-color: #eaf6f6 ;
}

h1{
  color: #66bfbf;
}

h3{
  color: #66bfbf;
}

li{
  margin: 0 0 4px 0;
}

img{
  width: 300px;
}



hr{
border-color: grey;
border-style: none;
border-top-style: dotted;
border-width:5px;
width: 5%;

}
